<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="slingge.functionblock">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:name=".application.SApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--布局-->
        <activity
            android:name=".ui.layout.LayoutViewActivity"
            android:screenOrientation="portrait" />
        <!--卡片布局-->
        <activity
            android:name=".ui.layout.CardViewLayout"
            android:screenOrientation="portrait" />
        <!--滑动隐藏显示标题、导航-->
        <activity
            android:name=".ui.layout.SlidingHideBarLayout"
            android:screenOrientation="portrait" />

        <!--RecyclerView-->
        <activity
            android:name=".ui.recyclerView.RecyclerViewActivity"
            android:screenOrientation="portrait" />

        <!-- 带HeaderView的分页加载LinearLayout RecyclerView-->
        <activity
            android:name=".ui.recyclerView.EndlessLinearLayoutActivity"
            android:screenOrientation="portrait" />

        <!--滑动隐藏toolbar-->
        <activity
            android:name=".ui.recyclerView.CollapsingToolbarLayoutActivity"
            android:screenOrientation="portrait" />

        <!--点击特效-->
        <activity
            android:name=".ui.specialEffects.ClickEffects"
            android:screenOrientation="portrait" />
        <!--水波纹效果-->
        <activity
            android:name=".ui.specialEffects.ListViewActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>